﻿@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Money box</h3>
            <form id="moneybox-form" action="/Home/MoneyBox" method="post">
                <input id="add-coin" type="number" name="coin" value="" /> 
                <button class="add-btn" type="submit" style="margin-right:5px">Add coins</button> <br />
                <input id="result-coin" type="number" name="result" value="" readonly style="margin-top: 10px"/>
            </form>
        </div>
    </div>
</div>
@section scripts{
        <script>
            $(".add-btn").on("click", function (value) {
                value.preventDefault();
                var data = $("#moneybox-form").serialize();
                $.post("/Home/Moneybox", data, function (res) {
                    $.get("/Home/Moneybox", function (val) {
                        $("#result-coin").val(val);
                    })
                })
            })
        </script>
    }